{
    "jsxSingleQuote": true,
    "singleAttributePerLine": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "overrides": [
        {
          "files":[ "*.md","*.mdx"],
          "options": {
            "proseWrap": "preserve"
          }
        },
        {
            "files": ".prettierrc",
            "options": {
              "parser": "json"
            }
        }
    ]
}
